#!/bin/bash
# Install common macOS packages

source /tmp/chezmoi-utils.sh
set -eufo pipefail

printf "${green}\n[10 - macOS] ${reset}"
echo "Installing common macOS packages"

{{ $taps := list
    "homebrew/cask-versions"
    "homebrew/cask-fonts"
    "koekeishiya/formulae"
-}}

{{ $brews := list
    "bash"
    "bat"
    "chezmoi"
    "cmake"
    "curl"
    "exa"
    "fd"
    "fzf"
    "gh"
    "ghq"
    "git"
    "git-delta"
    "gpg"
    "lazygit"
    "less"
    "mackup"
    "navi"
    "neovim"
    "pinentry-mac"
    "reattach-to-user-namespace"
    "ripgrep"
    "skhd"
    "shellcheck"
    "sheldon"
    "tig"
    "thefuck"
    "tmuxinator"
    "tmux"
    "wget"
    "yabai"
    "zoxide"
    "zsh"
-}}

{{- /* 
gnupg    
libgcrypt   
libxdmcp   
gnutls    
p11-kit    
starship
autoconf   
pango    
automake   
fd    
graphite2   
libidn    
libxrender   
pcre    
texinfo
awk    
guile    
libyaml    
flyctl    
libksba    
pinentry   
liblqr    
pinentry-mac   
fontconfig   
highway    
pkg-config   
tree-sitter
boost    
freetype   
icu4c    
libpng    
imath    
m4    
pulumi    
unibilium
cairo    
gdbm    
jansson    
libraw    
mackup    
jasper    
librsvg    
make    
gettext    
libsodium   
mas    
ranger    
wangle
libtasn1   
msgpack    
readline   
watchman
dive    
ghostscript   
libtermkey   
navi    
reattach-to-user-namespace 
docbook    
jq    
libtiff    
ncurses    
docbook-xsl   
giflib    
krb5    
libtool    
rtmpdump   
wxwidgets
docker-credential-helper-ecr 
kubergrunt   
dockutil   
kubernetes-cli   
libusb    
xmlto
docutils   
glib    
lazygit    
libuv    
xorgproto
glog    
xz
gmp    
six    
gnu-getopt   
emacs    
libevent   
smug    

Testing:
"tailscale"
---------
Removed brews for now:
"iterm2"
"rectangle"
*/ -}}

{{ $casks := list
    "1password-beta"
    "1password-cli"
    "adobe-acrobat-reader"
    "alacritty"
    "appcleaner"
    "brave-browser"
    "coscreen"
    "discord"
    "docker"
    "flux"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "google-chrome"
    "hammerspoon"
    "hiddenbar"
    "iina"
    "karabiner-elements"
    "keyboard-maestro"
    "kitty"
    "licecap"
    "lulu"
    "ngrok"
    "numi"
    "obsidian"
    "raycast"
    "signal"
    "spideroakone"
    "spotify"
    "telegram"
    "transmission"
    "todoist"
    "visual-studio-code"
    "whatsapp"
-}}

{{- /* 
Testing:
"fig"
"the-unarchiver"
"gpg-suite-pinentry"
"font-arial"
"font-fira-code"
----------
Removed casks for now:
"iterm2"
"rectangle"
"sigmaos"
"zotero"
"warp"
*/ -}}

{{ if .smile -}}
{{  $brews = concat $brews (list
        "awscli"
        "docker-credential-helper-ecr"
        "helm"
        "kubectl"
        "vault"
    ) -}}
{{  $casks = concat $casks (list
        "aws-vault"
        "keybase"
        "loom"
        "postico"
        "slack"
        "tunnelblick"
    ) -}}
{{ end -}}

{{ $services := list
    "skhd"
    "yabai"
-}}

{{- $brew := or (lookPath "/opt/homebrew/bin/brew") (lookPath "/usr/local/bin/brew") }}
{{ $brew }} bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ range ($services | sortAlpha | uniq) -}}
{{ $brew }} services start "{{ . }}"
{{ end -}}
