#!/bin/bash
# Install nix
# Uses https://github.com/DeterminateSystems/nix-installer
set -eufo pipefail

{{ template "utils" }}

title "[03 - macOS - Nix]"

if command -v nix >/dev/null; then
  success "Nix already installed, skipping."
  exit 0
fi

curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install
source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh

success "Nix install successful!"
