#!/bin/bash
# Install common macOS packages

source /tmp/chezmoi-utils.sh
set -eufo pipefail

printf "${green}\n[10 - macOS] ${reset}"
echo "Installing common macOS packages"

{{ $taps := list
    "homebrew/cask-versions"
    "homebrew/cask-fonts"
    "koekeishiya/formulae"
-}}

{{ $brews := list
    "bash"
    "bat"
    "chezmoi"
    "cmake"
    "curl"
    "exa"
    "fd"
    "fzf"
    "gh"
    "ghq"
    "git-delta"
    "git"
    "gpg"
    "jq"
    "lazygit"
    "less"
    "mackup"
    "navi"
    "neovim"
    "pinentry-mac"
    "reattach-to-user-namespace"
    "ripgrep"
    "sheldon"
    "shellcheck"
    "skhd"
    "thefuck"
    "tig"
    "tmux"
    "tmuxinator"
    "tree-sitter"
    "wget"
    "yabai"
    "zoxide"
    "zsh"
-}}

{{- /*
autoconf
automake
awk
boost
cairo
dive
docbook
docbook-xsl
docker-credential-helper-ecr
dockutil
docutils
emacs
flyctl
fontconfig
freetype
gdbm
gettext
ghostscript
giflib
glib
glog
gmp
gnu-getopt
gnupg
gnutls
graphite2
guile
highway
icu4c
imath
jansson
jasper
krb5
kubergrunt
kubernetes-cli
libevent
libgcrypt
libidn
libksba
liblqr
libpng
libraw
librsvg
libsodium
libtasn1
libtermkey
libtiff
libtool
libusb
libuv
libxdmcp
libxrender
libyaml
m4
make
mas
msgpack
navi
ncurses
p11-kit
pango
pcre
pkg-config
ranger
readline
reattach-to-user-namespace
rtmpdump
six
smug
starship
texinfo
unibilium
wangle
watchman
wxwidgets
xmlto
xorgproto
xz

Testing:
"tailscale"
---------
Removed brews for now:
"iterm2"
"rectangle"
*/ -}}

{{ $casks := list
    "1password-beta"
    "1password-cli"
    "adobe-acrobat-reader"
    "alacritty"
    "appcleaner"
    "arc"
    "brave-browser"
    "coscreen"
    "discord"
    "docker"
    "flux"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "google-chrome"
    "hammerspoon"
    "hiddenbar"
    "iina"
    "karabiner-elements"
    "keyboard-maestro"
    "kitty"
    "licecap"
    "lulu"
    "ngrok"
    "numi"
    "obsidian"
    "raycast"
    "signal"
    "spideroakone"
    "spotify"
    "telegram"
    "todoist"
    "transmission"
    "visual-studio-code"
    "whatsapp"
-}}

{{- /*
Testing:
"fig"
"font-arial"
"font-fira-code"
"gpg-suite-pinentry"
"the-unarchiver"
----------

Removed casks for now:
"iterm2"
"rectangle"
"sigmaos"
"warp"
"zotero"
*/ -}}

{{ if .smile -}}
{{  $brews = concat $brews (list
        "awscli"
        "docker-credential-helper-ecr"
        "helm"
        "kubectl"
        "vault"
    ) -}}
{{  $casks = concat $casks (list
        "aws-vault"
        "keybase"
        "loom"
        "postico"
        "slack"
        "tunnelblick"
    ) -}}
{{ end -}}

{{ $services := list
    "skhd"
    "yabai"
-}}

{{- $brew := or (lookPath "/opt/homebrew/bin/brew") (lookPath "/usr/local/bin/brew") }}
{{ $brew }} bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ range ($services | sortAlpha | uniq) -}}
{{ $brew }} services start "{{ . }}"
{{ end -}}
