#!/usr/bin/env zsh

path+=$HOME/.local/bin
path+=/usr/local/bin

path=(/opt/homebrew/opt/ncurses/bin $path) 

path+=$HOME/.bun/bin

{{- if .smile }}
path+=/opt/homebrew/opt/postgresql@11/bin
{{- end }}

path+=$GHOSTTY_BIN_DIR

{{/* vim: set filetype=zsh: */}}
