{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* Boolean feature tags */}}
{{/* If this machine should have Smile secrets from 1Password */}}
{{- $smile := false -}}
{{- "" -}}

{{/* Configs */}}
{{- $name := "Vlad Vanca" -}}
{{- $email := "vanca.vlad@gmail.com" -}}
{{- $computer_name := "vladucu's macbook" -}}
{{- $hostname := "vladucu" -}}
{{- $gpg_recipient := "9F2DA28BEC99BC96" -}}
{{- "" -}}

{{- /* If running interactively */ -}}
{{- /*   - if config was previously set, reuse it */ -}}
{{- /*   - if config was not previously set, prompt */ -}}
{{- if $interactive -}}
{{-   if hasKey . "name" -}}
{{-     $name = .name -}}
{{-   else -}}
{{-     $name = promptString "Name" $name -}}
{{-   end -}}

{{-   if hasKey . "email" -}}
{{-     $email = .email -}}
{{-   else if $interactive -}}
{{-     $email = promptString "Email" $email -}}
{{-   end -}}

{{-   if hasKey . "computer_name" -}}
{{-     $computer_name = .computer_name -}}
{{-   else if $interactive -}}
{{-     $computer_name = promptString "Computer name" $computer_name -}}
{{-   end -}}

{{-   if hasKey . "hostname" -}}
{{-     $hostname = .hostname -}}
{{-   else if $interactive -}}
{{-     $hostname = promptString "Host name" $hostname -}}
{{-   end -}}

{{-   if hasKey . "gpg_recipient" -}}
{{-     $gpg_recipient = .gpg_recipient -}}
{{-   else if $interactive -}}
{{-     $gpg_recipient = promptString "GPG Recipient" $gpg_recipient -}}
{{-   end -}}

{{-   if hasKey . "smile" -}}
{{-     $smile = .smile -}}
{{-   else -}}
{{-     $smile = promptBool "Smile" -}}
{{-   end -}}

{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

encryption = "gpg"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
computer_name = {{ $computer_name | quote }}
hostname = {{ $hostname | quote }}
smile = {{ $smile }}
onepassword_account = "44TQRXVOJ5CR3BULYTHWSHDLAI"
gpg_recipient = {{ $gpg_recipient | quote }}

[gpg]
recipient = {{ $gpg_recipient | quote }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/home/.install-password-manager.sh"
