{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* Boolean feature tags */}}
{{/* If this machine should have Smile secrets from 1Password */}}
{{- $smile := false -}}
{{- "" -}}

{{/* Configs */}}
{{- $name := "Vlad Vanca" -}}
{{- $email := "vanca.vlad@gmail.com" -}}
{{- "" -}}

{{- /* If running interactively */ -}}
{{- /*   - if config was previously set, reuse it */ -}}
{{- /*   - if config was not previously set, prompt */ -}}
{{- if $interactive -}}
{{-   if hasKey . "name" -}}
{{-     $name = .name -}}
{{-   else -}}
{{-     $name = promptString "name" $name -}}
{{-   end -}}

{{-   if hasKey . "email" -}}
{{-     $email = .email -}}
{{-   else if $interactive -}}
{{-     $email = promptString "email" $email -}}
{{-   end -}}

{{-   if hasKey . "smile" -}}
{{-     $smile = .smile -}}
{{-   else -}}
{{-     $smile = promptBool "smile" -}}
{{-   end -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}


data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  smile: {{ $smile }}
  vault: "xegovmwy3acc65sfscbzfje5fu"
