{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include (joinPath .chezmoi.homeDir ".local/share/shell/init.zsh") }}

{{ $sheldon := or (lookPath "/opt/homebrew/bin/sheldon") (lookPath "/usr/local/bin/sheldon") -}}
{{ if $sheldon -}}
# Source sheldon plugins
{{   output $sheldon "source" | trim }}
{{- end }}

{{ $zoxide := or (lookPath "/opt/homebrew/bin/zoxide") (lookPath "/usr/local/bin/zoxide") -}}
{{ if $zoxide -}}
# Source zoxide 
{{   output $zoxide "init" "zsh" | trim }}
{{- end }}

{{- $thefuck := or (lookPath "/opt/homebrew/bin/thefuck") (lookPath "/usr/local/bin/thefuck") }}
{{- if $thefuck }}
# Fuck
# https://github.com/nvbn/thefuck
{{   output $thefuck "--alias" | trim }}
{{- end }}

{{ end -}}
