{{ if eq .chezmoi.os "darwin" -}}

{{- $brew := or (lookPath "/opt/homebrew/bin/brew") (lookPath "/usr/local/bin/brew") }}
{{- if $brew -}}
{{   output $brew "shellenv" | trim}}
{{ end -}}

{{ end -}}
