{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Uncomment to profile startup
# zmodload zsh/zprof

{{ include (joinPath .chezmoi.homeDir ".local/share/shell/init.zsh") }}

{{ $sheldon := or (lookPath "/opt/homebrew/bin/sheldon") (lookPath "/usr/local/bin/sheldon") -}}
{{ if $sheldon -}}
# Source sheldon plugins
{{   output $sheldon "source" | trim }}
{{- end }}



##############################################################################
# FZF Configuration
##############################################################################
{{- $fzfColors := dict
  "dracula"          "fg:#f8f8f2,bg:#282a36,hl:#bd93f9,fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9,info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6,marker:#ff79c6,spinner:#ffb86c,header:#6272a4"
  "one-half-dark"    "fg:#dcdfe4,bg:#282c34,hl:#61afef,fg+:#dcdfe4,bg+:#3e4452,hl+:#61afef,info:#e5c07b,prompt:#98c379,pointer:#c678dd,marker:#c678dd,spinner:#e5c07b,header:#56b6c2"
  "snazzy"           "fg:#eff0eb,bg:#282a36,hl:#57c7ff,fg+:#eff0eb,bg+:#43454f,hl+:#57c7ff,info:#f3f99d,prompt:#5af78e,pointer:#ff6ac1,marker:#ff6ac1,spinner:#f3f99d,header:#9aedfe"
  "catppuccin-mocha" "fg:#cdd6f4,bg:#1e1e2e,hl:#f38ba8,fg+:#cdd6f4,bg+:#313244,hl+:#f38ba8,info:#cba6f7,prompt:#a6e3a1,pointer:#f5e0dc,marker:#b4befe,spinner:#f5e0dc,header:#94e2d5"
}}
export FZF_DEFAULT_OPTS="
  --height 40%
  --tmux bottom,40%
  --layout reverse
  --border rounded
  --info inline
  --prompt '❯ '
  --pointer '▶'
  --marker '✓'
  --color={{ get $fzfColors .theme }}
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo {} | pbcopy)'
  --preview-window 'right:50%:wrap'
"

# FZF popup size presets for tmux
export FZF_TMUX_OPTS_LARGE="-p 90%,90%"
export FZF_TMUX_OPTS_MEDIUM="-p 80%,60%"
export FZF_TMUX_OPTS_SMALL="-p 60%,40%"

# Shell history with fzf in tmux popup
fzf-history-widget-in-tmux-popup() {
  if [[ -n "$TMUX" ]]; then
    # Use tmux popup when in tmux
    local selected
    selected=$(fc -rl 1 | fzf --tac --no-sort --tiebreak=index \
      --prompt="❯ History: " \
      --header="Enter:insert | ^E:execute | ^Y:copy | Esc:cancel" \
      --bind="ctrl-e:execute-silent(tmux send-keys -t $TMUX_PANE {} Enter)+abort" \
      --bind="ctrl-y:execute-silent(echo {} | cut -d: -f2- | pbcopy)+abort" \
      | cut -d: -f2-)
    if [[ -n "$selected" ]]; then
      LBUFFER="$selected"
    fi
    zle reset-prompt
  else
    # Fall back to regular fzf history widget
    zle fzf-history-widget
  fi
}

# Register the widget and bind to Ctrl+R
zle -N fzf-history-widget-in-tmux-popup
bindkey '^r' fzf-history-widget-in-tmux-popup

{{ $zoxide := or (lookPath "/opt/homebrew/bin/zoxide") (lookPath "/usr/local/bin/zoxide") -}}
{{ if $zoxide -}}
# Source zoxide 
{{   output $zoxide "init" "zsh" | trim }}
{{- end }}

{{ $direnv := or (lookPath "/opt/homebrew/bin/direnv") (lookPath "/usr/local/bin/direnv") -}}
{{ if $direnv -}}
# Source direnv
{{   output $direnv "hook" "zsh" | trim }}
{{- end }}

{{ $devenv := lookPath (joinPath .chezmoi.homeDir ".nix-profile/bin/devenv") -}}
{{ if $devenv -}}
# Source devenv
{{   output $devenv "hook" "zsh" | trim }}
{{- end }}

{{ $thefuck := or (lookPath "/opt/homebrew/bin/thefuck") (lookPath "/usr/local/bin/thefuck") -}}
{{ if $thefuck -}}
# Fuck
# https://github.com/nvbn/thefuck
{{   output $thefuck "--alias" | trim }}
{{- end }}

{{ $mise := or (lookPath "/opt/homebrew/bin/mise") (lookPath "/usr/local/bin/mise") -}}
{{ if $mise -}}
# Mise
# https://mise.jdx.dev/
# NOTE: Using runtime eval instead of chezmoi `output` to avoid baking the current
# PATH (which may contain leaked volta/tools/image/* paths) into the compiled .zshrc.
# Unset inherited __MISE_ORIG_PATH so mise recaptures the clean PATH (volta/path.zsh
# strips volta/tools/image/* above, but a stale __MISE_ORIG_PATH would still have them).
unset __MISE_ORIG_PATH __MISE_DIFF __MISE_SESSION
eval "$({{ $mise }} activate zsh)"

# There's an issue with `mise` which overwrites the PATH and this is removed from local/share/shell/path.zsh.tmpl.
# For now, adding manually after mise to fix this.
path+=$HOME/.cache/.bun/bin
{{- end }}

ulimit -S -n 65536
ulimit -H -n 200000

{{ end -}}


{{/* vim: set filetype=zsh: */}}
