{
  "globalShortcut": "Shift+Alt+Space",
  "mcpServers": {
    "github": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e",
        "GITHUB_PERSONAL_ACCESS_TOKEN",
        "ghcr.io/github/github-mcp-server"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ .github_token }}"
      }
    },
    "linear": {
      "command": "/Users/vladucu/.volta/bin/npx",
      "args": ["-y", "mcp-remote", "https://mcp.linear.app/sse"]
    }
  },
  "preferences": {
    "quickEntryDictationShortcut": "capslock"
  }
}
