{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install common macOS packages

printf "${green}[10 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_BREW") }}
echo "Skip installing common macOS packages"
exit 0
{{ else }}
echo "Install common macOS packages"
{{- end }}

set -eufo pipefail

# Ensure brew is available. Covers the initial run of chezmoi when dotfiles have not been created yet.
eval "$($(brew --prefix)/bin/brew shellenv)"
{{ if .multi_user -}}
#alias brew='sudo -Hu ops -i brew'
# Fix permissions otherwise some services will not be able to start (ex: yabai)
[[ $(stat -f "%SMp" /opt/homebrew) == "rwx" ]] || chmod -R g+w $(brew --prefix)
{{- end }}

{{ $taps := list
    "homebrew/cask-versions"
    "homebrew/cask-fonts"
-}}

{{ $brews := list
    "asdf"
    "bash"
    "bat"
    "chezmoi"
    "cmake"
    "curl"
    "exa"
    "fd"
    "fzf"
    "gh"
    "ghq"
    "git-delta"
    "git"
    "gpg"
    "less"
    "mackup"
    "navi"
    "neovim"
    "pinentry-mac"
    "reattach-to-user-namespace"
    "ripgrep"
    "skhd"
    "sheldon"
    "tig"
    "tmux"
    "wget"
    "yabai"
    "zsh"
-}}

{{ $casks := list
    "1password-beta"
    "1password-cli"
    "adobe-acrobat-reader"
    "alacritty"
    "appcleaner"
    "brave-browser"
    "discord"
    "flux"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "google-chrome"
    "hammerspoon"
    "hiddenbar"
    "iina"
    "iterm2"
    "karabiner-elements"
    "licecap"
    "raycast"
    "rectangle"
    "signal"
    "spideroakone"
    "telegram"
    "transmission"
    "todoist"
    "visual-studio-code"
    "whatsapp"
-}}

{{ if .smile -}}
{{  $brews = concat $brews (list
        "awscli"
        "docker-credential-helper-ecr"
        "helm"
        "kubectl"
        "vault"
    ) -}}
{{  $casks = concat $casks (list
        "aws-vault"
        "docker"
        "keybase"
        "loom"
        "postico"
        "slack"
        "tunnelblick"
        "zoom"
    ) -}}
{{ end -}}

{{ $services := list
    "skhd"
    "yabai"
-}}

cat <<EOF >/tmp/Brews
#!/bin/sh
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

sudo -Hu ops -i brew bundle --no-lock --file=/tmp/Brews

{{ range ($services | sortAlpha | uniq) -}}
brew services start "{{ . }}"
{{   end -}}

{{ end -}}
