{{- $ghosttyThemes := dict "dracula" "Dracula" "one-half-dark" "One Half Dark" "snazzy" "Snazzy" "catppuccin-mocha" "Catppuccin Mocha" -}}
theme = {{ get $ghosttyThemes .theme }}
font-size = 12.5
font-family = Monaspace Neon
#font-family = JetBrains Mono
background-opacity = 0.95
background-blur-radius = 20
macos-non-native-fullscreen = visible-menu
macos-option-as-alt = left
mouse-hide-while-typing = true
keybind = alt+backspace=text:\x1b\x7f
