# Keys added to this file will be automatically
# copied to your authorized_keys file by the JumpCloud agent.
{{ range (gitHubKeys "vladucu") -}}
{{   .Key }}
{{ end }}

# Constructed by the JumpCloud agent, you can add keys manually in /Users/vladucu/.ssh/authorized_keys.jcorig
