# Sheldon configuration file
#
# See https://rossmacarthur.github.io/sheldon/

shell = "zsh"

[templates]
defer = {{ `"{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"` }}
defer-more = {{ `"{{ hooks?.pre | nl }}{% for file in files %}zsh-defer -t 0.5 source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"` }}

###################
# Completions
###################

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

###################
# Sourced
###################

# Alternatives to check
# starship/starship
# denysdovhan/spaceship-prompt
[plugins.pure]
github = "sindresorhus/pure"
use = ["{async,pure}.zsh"]

[plugins.env]
local = "{{ .chezmoi.homeDir }}/.local/share/shell"
use = ["**/env.zsh"]

[plugins.path]
local = "{{ .chezmoi.homeDir }}/.local/share/shell"
use = ["**/path.zsh"]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

###################
# Deferred
###################

[plugins.config]
local = "{{ .chezmoi.homeDir }}/.local/share/shell"
use = ["config.zsh"]
apply = ["defer"]

[plugins.local]
local = "{{ .chezmoi.homeDir }}/.local/share/shell"
use = ["**/{keybinding,completion}.zsh"]
apply = ["defer"]

# Alternative djui/alias-tips
[plugins.zsh-you-should-use]
github = "MichaelAquilina/zsh-you-should-use"
apply = ["defer"]


[plugins.zimfw-utility]
github = "zimfw/utility"
apply = ["defer"]

[plugins.zimfw-exa]
github = "zimfw/exa"
apply = ["defer"]

# Git aliases
[plugins.zimfw-git]
github = "zimfw/git"
apply = ["defer"]
[plugins.zimfw-git.hooks]
pre = "zstyle ':zim:git' aliases-prefix 'g'"
post = "fpath+={{ .chezmoi.homeDir }}/.local/share/sheldon/repos/github.com/zimfw/git/functions && autoload -U {{ .chezmoi.homeDir }}/.local/share/sheldon/repos/github.com/zimfw/git/functions/*"

# We're re-loading this again after initially doing it in `plugins.env` to address `gh` conflict with `zimfw/git`
# TODO get rid of zimfw/git in favor of own shortcuts
[plugins.op]
local = "{{ .chezmoi.homeDir }}/.local/share/shell/op"
use = ["env.zsh"]
apply = ["defer"]

# Testing out alternative https://github.com/ajeetdsouza/zoxide
# [plugins.z]
# github = "rupa/z"
# apply = ["defer"]

[plugins.fancy-ctrl-z]
github = "ohmyzsh/ohmyzsh"
use = ["**/fancy-ctrl-z/*.plugin.zsh"]
apply = ["defer"]

[plugins.asdf]
local = "~/.asdf"
use = ["{{- "{{ name }}.sh" -}}"]
apply = ["defer"]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ["{{- "{{ name }}.zsh" -}}"]
apply = ["defer"]

[plugins.zsh-syntax-highlighting]
github = 'zsh-users/zsh-syntax-highlighting'
apply = ["defer"]

[plugins.compinit]
local = "{{ .chezmoi.homeDir }}/.local/share/shell"
apply = ["defer"]

[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
apply = ["defer"]

###################
# Deferred more
###################
# Keep this after zsh-syntax-highlighting
# TODO setup keyboard shortcuts
# https://github.com/zsh-users/zsh-history-substring-search#usage
[plugins.zsh-history-substring-search]
github = 'zsh-users/zsh-history-substring-search'
use = ["{{- "{{ name }}.zsh" -}}"]
apply = ["defer-more"]

{{/* vim: set filetype=toml: */}}
