[color]
    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
    ui = auto

[commit]
    gpgsign = true

[core]
    editor = vim
    excludesfile = ~/.config/git/ignore
    pager = delta
    whitespace = trailing-space,space-before-tab

[delta]
    navigate = true
    side-by-side = true

[diff]
    colorMoved = default

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
[gpg]
    program = /opt/homebrew/bin/pinentry-mac
{{- end }}

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[user]
    name = {{ .name }}
    email = {{ .email }}
    signinkey = {{ .gpg_recipient }}
